{namespace neos=TYPO3\Neos\ViewHelpers}
<div>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script>
		<![CDATA[
		function initializeMap]]>{node.name}<![CDATA[() {
			var myLatlng = new google.maps.LatLng(]]>{longitude}<![CDATA[,]]>{latitude}<![CDATA[);
			var mapOptions = {
				zoom: ]]>{zoomlevel}<![CDATA[,
				center: myLatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(document.getElementById(']]>{mapIdentifier}<![CDATA['), mapOptions);

			var marker = new google.maps.Marker({
													position: myLatlng,
													map: map
												});
		}

		$(document).ready(function() {
			initializeMap]]>{node.name}<![CDATA[();
		});
		if (typeof document.addEventListener === 'function') {
			document.addEventListener('Neos.PageLoaded', function(event) {
				if ($("#]]>{mapIdentifier}<![CDATA[").length) {
					initializeMap]]>{node.name}<![CDATA[();
				}
			}, false);
		}
		]]>
	</script>
	<div id="{mapIdentifier}" style="height: {height}; width: {width}; margin-top: 20px;"></div>
</div>